<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.system.mapper.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.youlai.system.model.entity.SysDept">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <resultStation property="name" column="name" jdbcType="VARCHAR"/>
            <resultStation property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <resultStation property="treePath" column="tree_path" jdbcType="VARCHAR"/>
            <resultStation property="sort" column="sort" jdbcType="INTEGER"/>
            <resultStation property="status" column="status" jdbcType="TINYINT"/>
            <resultStation property="deleted" column="deleted" jdbcType="TINYINT"/>
            <resultStation property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <resultStation property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,parent_id,
        tree_path,sort,status,
        deleted,create_time,update_time
    </sql>
</mapper>
